#navbar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px 60px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
#navbar #logo {
  height: 40px;
}
#navbar ul {
  list-style: none;
  display: flex;
}
#navbar ul li {
  font-size: 0.8em;
  margin-left: 10px;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
}
#navbar #search-icon {
  height: 20px;
  margin-left: auto;
}