#preview-container {
  position: relative;
}
#preview-container video {
  width: 100%;
}
#preview-container #preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#preview-container #preview-overlay #preview-details {
  position: absolute;
  top: 40%;
  left: 50px;
}
#preview-container #preview-overlay #preview-details h3 {
  font-size: 2.5rem;
  margin: 15px 0;
}
#preview-container #preview-overlay #preview-details button {
  height: 50px;
  background-color: rgba(50, 50, 50, 0.4);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  font-size: 18px;
}
#preview-container #preview-overlay #preview-details button:hover {
  background-color: white;
  color: black;
}