#preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    #preview-details {
        position: absolute;
        top: 60%;
        left: 50px;

        h3 {
            font-size: 3rem !important;
            font-weight: bold;
            letter-spacing: 2px;
            margin: 15px 0;
        }

        button {
            height: 50px;
            background-color: rgba(50, 50, 50, 0.4);
            color: white;
            border: none;
            border-radius: 5px;
            width: 150px;
            font-size: 18px;

            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
}